In [1]:
# Section 1: Import Libraries
import pandas as pd  # For data manipulation
import numpy as np  # For numerical operations
import os  # For operating system interactions

In [3]:
# Define the path to the new dataset 
project_folder_path = r"C:\Users\marci\15-07-2024Instacart Basket Analysis\02 Data"

In [5]:
# Import orders_products_combined.pkl into a DataFrame
df_ords_prods_merge = pd.read_pickle(r'C:\Users\marci\15-07-2024Instacart Basket Analysis\02 Data\Prepared Data\ords_prods_merge.pkl')

In [7]:
# Check for missing values in the combined DataFrame
missing_df_ords_prods_merge = df_ords_prods_merge.isnull().sum()
print("Missing values in combined DataFrame:")
print(missing_df_ords_prods_merge)

Missing values in combined DataFrame:
Unnamed: 0                0
order_id                  0
user_id                   0
order_number              0
order_dow                 0
order_hour_of_day         0
days_since_prior_order    0
product_id                0
add_to_cart_order         0
reordered                 0
existing_merge            0
product_name              0
aisle_id                  0
department_id             0
prices                    0
merge_flag                0
dtype: int64

In [64]:
df_ords_prods_merge.shape

(32433030, 16)

In [67]:
# create a subset 
df = df_ords_prods_merge[:1000000]

In [69]:
df.shape

(1000000, 16)

In [9]:
# Define a function

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [73]:
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\marci\AppData\Local\Temp\ipykernel_23400\3677927974.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [75]:
df['price_range'].value_counts(dropna = False)

price_range
Mid-range product    673458
Low-range product    314129
High range            12413
Name: count, dtype: int64

In [77]:
df['prices'].max()

99999.0

In [83]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [85]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [87]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [89]:
df['price_range'].value_counts(dropna = False)

price_range
Mid-range product    673458
Low-range product    314129
High range            12413
Name: count, dtype: int64

In [95]:
df_ords_prods_merge['order_dow'].value_counts(dropna=False)

order_dow
0    6209410
1    5665604
6    4500101
2    4217610
5    4209334
3    3843929
4    3787042
Name: count, dtype: int64

In [101]:
result = []

for value in df_ords_prods_merge["order_dow"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [105]:
df_ords_prods_merge["Busiest day"]= result

In [107]:
df_ords_prods_merge["Busiest day"].value_counts(dropna=False)

Busiest day
Regularly busy    22436578
Busiest day        6209410
Least busy         3787042
Name: count, dtype: int64

In [109]:
df_ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,existing_merge,product_name,aisle_id,department_id,prices,merge_flag,Busiest day
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both,Regularly busy
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Regularly busy
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23,19,4.4,both,Regularly busy
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both,Regularly busy
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Regularly busy

In [111]:
df_ords_prods_merge['order_id'].dtype

dtype('int64')

In [113]:
df_ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32433030 entries, 0 to 32433029
Data columns (total 17 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
 7   product_id              int64
 8   add_to_cart_order       int64
 9   reordered               int64
 10  existing_merge          category
 11  product_name            object
 12  aisle_id                int64
 13  department_id           int64
 14  prices                  float64
 15  merge_flag              category
 16  Busiest day             object
dtypes: category(2), float64(2), int64(10), object(3)
memory usage: 3.7+ GB

# Exercise 4.7

In [9]:
 # Count the orders for each day of the week
order_dow_counts = df_ords_prods_merge['order_dow'].value_counts().sort_values(ascending=False)
print(order_dow_counts)

# Get the two busiest and two slowest days
busiest_days = order_dow_counts.index[:2].tolist()
slowest_days = order_dow_counts.index[-2:].tolist()

print(f"Busiest days: {busiest_days}")
print(f"Slowest days: {slowest_days}")

order_dow
0    6209410
1    5665604
6    4500101
2    4217610
5    4209334
3    3843929
4    3787042
Name: count, dtype: int64
Busiest days: [0, 1]
Slowest days: [3, 4]

# The busiest days of the week are: Saturday and Sunday.
# The slowest days of week are: Tuesday and Wednesday

In [11]:
# Create the new busiest_days column
def label_busiest_days(row):
    if row['order_dow'] in busiest_days:
        return 'Busiest days'
    elif row['order_dow'] in slowest_days:
        return 'Slowest days'
    else:
        return 'Regularly busy'

df_ords_prods_merge['busiest_days'] = df_ords_prods_merge.apply(label_busiest_days, axis=1)

In [13]:
# Check the values of the new column for accuracy
busiest_days_counts = df_ords_prods_merge['busiest_days'].value_counts()
print(busiest_days_counts)

busiest_days
Regularly busy    12927045
Busiest days      11875014
Slowest days       7630971
Name: count, dtype: int64

In [15]:
df_ords_prods_merge.tail()

,Unnamed: 0,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,existing_merge,product_name,aisle_id,department_id,prices,merge_flag,busiest_days
32433025,3421081,2977660,206209,13,1,12,7.0,14197,5,1,both,Tomato Paste,9,9,5.6,both,Busiest days
32433026,3421081,2977660,206209,13,1,12,7.0,38730,6,0,both,Brownie Crunch High Protein Bar,3,19,5.9,both,Busiest days
32433027,3421081,2977660,206209,13,1,12,7.0,31477,7,0,both,High Protein Bar Chunky Peanut Butter,3,19,4.2,both,Busiest days
32433028,3421081,2977660,206209,13,1,12,7.0,6567,8,0,both,Chocolate Peanut Butter Protein Bar,3,19,4.9,both,Busiest days
32433029,3421081,2977660,206209,13,1,12,7.0,22920,9,0,both,Roasted & Salted Shelled Pistachios,117,19,1.7,both,Busiest days

# Creating the "busiest_period_of_day" column

In [17]:
# Count the orders for each hour of the day
order_hour_counts = df_ords_prods_merge['order_hour_of_day'].value_counts().sort_values(ascending=False)
print(order_hour_counts)

# Divide the hours into categories. We are going to divide the hours into "Most orders," "Average orders," and "Fewest orders" based on the frequency of orders.
most_orders = order_hour_counts.index[:8]  # top 8 hours
fewest_orders = order_hour_counts.index[-8:]  # bottom 8 hours
average_orders = order_hour_counts.index[8:-8]  # middle hours

print(f"Most orders hours: {most_orders}")
print(f"Fewest orders hours: {fewest_orders}")
print(f"Average orders hours: {average_orders}")

# Create the new busiest_period_of_day column
def label_busiest_period(row):
    if row['order_hour_of_day'] in most_orders:
        return 'Most orders'
    elif row['order_hour_of_day'] in fewest_orders:
        return 'Fewest orders'
    else:
        return 'Average orders'

df_ords_prods_merge['busiest_period_of_day'] = df_ords_prods_merge.apply(label_busiest_period, axis=1)

order_hour_of_day
10    2764288
11    2738483
14    2691448
15    2664420
13    2663169
12    2620719
16    2537358
9     2456591
17    2089385
8     1719888
18    1637858
19    1259335
20     976991
7      891900
21     796341
22     634715
23     402593
6      290763
0      218925
1      115780
5       88054
2       69429
4       53280
3       51317
Name: count, dtype: int64
Most orders hours: Index([10, 11, 14, 15, 13, 12, 16, 9], dtype='int64', name='order_hour_of_day')
Fewest orders hours: Index([23, 6, 0, 1, 5, 2, 4, 3], dtype='int64', name='order_hour_of_day')
Average orders hours: Index([17, 8, 18, 19, 20, 7, 21, 22], dtype='int64', name='order_hour_of_day')

# Most orders hours: from 09:00 to 16:00 .
# Fewest orders hours: from 23:00 to 06:00.
# Average orders hours: from 17:00 to 22:00 and from 07:00 to 08:00

# Verify the new column

In [19]:
# Check the values of the new column for accuracy
busiest_period_counts = df_ords_prods_merge['busiest_period_of_day'].value_counts()
print(busiest_period_counts)

busiest_period_of_day
Most orders       21136476
Average orders    10006413
Fewest orders      1290141
Name: count, dtype: int64

In [21]:
# Export the DataFrame as a pickle file
df_ords_prods_merge.to_pickle(r"C:\Users\marci\15-07-2024Instacart Basket Analysis\02 Data\Prepared Data\ords_prods_merge.pkl")